name: Build and push image to ECR

env:
#  OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
#  OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
#  OPENSHIFT_NAMESPACE: ""
#  APP_NAME: ""

# Trigger workflow manually
on:
  workflow_dispatch:
    inputs:
      openshiftServer:
        type: string
        description: OpenShift Server URL, e.g. "https://api.rm3.7wse.p1.openshiftapps.com:6443"
        required: true
      openshiftNamespace:
        type: string
        description: OpenShift namespace, e.g. "diamond-openshift"
        required: true
      openshiftToken:
        type: string
        description: OpenShift token, e.g. "sha256~xxxxx"
        required: true

jobs:
  build:
    name: Connect to OpenShift
    runs-on: ubuntu-latest
    steps:
#      - name: Check out code
#        uses: actions/checkout@v2
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-south-1
#      - name: Login to Amazon ECR
#        id: iac
#        uses: aws-actions/amazon-ecr-login@v1
#      - name: Build, tag, and push image to Amazon ECR
#        env:
#          ECR_REGISTRY: ${{ steps.iac.outputs.registry }}
#          ECR_REPOSITORY: <your-ecr-registry-url>/<your-docker-image-name>
#          IMAGE_TAG: latest
#        run: |
#          aws ecr get-login-password --region af-south-1 | docker login --username AWS --password-stdin <your-ecr-registry-url>
#          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
#          docker push $ECR_REPOSITORY:$IMAGE_TAG
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: 4
      - name: Log in to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ github.event.inputs.openshiftServer }}
          openshift_token: ${{ github.event.inputs.openshiftToken }}
          insecure_skip_tls_verify: true
          namespace: ${{ github.event.inputs.openshiftNamespace }}
      - name: Get POD
        run: |
           oc get pods
#          oc get po -A | grep "<service-you are deploying>" | grep Running
#          oc rollout latest <service-you are deploying>  -n pharmarun-dev
#          sleep 10
#          oc get po -A | grep "<service-you are deploying>" | grep Running -w
#          sleep 60
#          oc get po -A | grep "<service-you are deploying>" | grep Running -w
#          sleep 20
